#registerId {
  width: 100%;
  height: 100%;
}

.selectionMenu {
  flex-direction: column;
  background-color: var(--second-bg-color);
  width: 100%;
  align-items: center;
}

.selectionMenu {
  padding: 1rem;
}

.options {
  margin-top: 1rem;
  border-radius: 0.3rem;
  background-color: var(--third-bg-color);
}

.options div {
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem 2rem;
  user-select: none;
  cursor: pointer;
}

.activeSelection {
  color: black;
  background-color: white !important;
}

.line {
  border-right: 2px solid var(--second-bg-color);
}

.activeOp {
  /* background: fixed; */
  background-color: white;
  color: var(--background-color);
}