.formAdd {
  flex-direction: column;
  background-color: var(--second-bg-color);
  padding: 2rem;
}

.formElement {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 25vw;
  border-bottom: 1px solid var(--third-bg-color);
}

#addSection {
  text-align: center;
  margin-top: 2rem;
}

.formLabel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.formLabel i{
  background-color: var(--icon-bg);
  padding: 0.5rem;
  border-radius: 50%;
}

.formIn {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.formIn select {
  width: 100%;
  text-align: center;
  background-color: var(--second-bg-color);
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.formIn input {
  text-align: start;
  background-color: var(--second-bg-color);
  padding: 0.2rem;
  border: none;
  border-bottom: 1px solid;
}

#amountInput {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 3px solid var(--background-color);
}

#amountInput input{
  background: none;
  border: none;
  font-size: 2.5rem;
  width: 250px;
  text-align: end;
}

#amountInput input:focus {
  border: none;
}

#amountInput input.expenses{
  color: rgb(255, 21, 21);
}

#amountInput input.income{
  color: rgb(0, 255, 0);
}

#amountInput input.transfer{
  color: white;
}

