@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root {
  --logo-green: #32ac42;;
  --background-color: #29273f; 
  --btn-bg-color: #a455ff;
  --dark-text-color: #11101d;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.05rem;
  color: white;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.flexbox {
  display: flex;
}