@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root {
  --logo-green: #32ac42;;
  --background-color: #191829; 
  --btn-bg-color: #a455ff;
  --dark-text-color: #11101d;
  --second-bg-color: #3a516c;
  --third-bg-color: #55708f;
  --icon-bg: #7752FE;
}

#appDiv {
  height: 100%;
}

#root{
  padding-left: 78px;
  height: 100vh;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.flexbox {
  display: flex;
}

#appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #3e5a88;
  height: 64px;
  align-items: center;
}

footer a {
  text-decoration: none;
}

.submitBtn {
  width: fit-content;
  align-self: center;
  margin: 1rem;
  background-color: var(--icon-bg);
  border: none;
  padding: 0.3rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0.2rem;
}

input.textType {
  background: none;
  border: none;
}

input:focus {
  outline: none;
}
